<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TemplateConfigFilePath" value="\\cdcnap05\FME_USERS$\DI\dev\FramingAddin\FramingConfig.json"/>
    <add key="FeatureLayerGroupNames" value="ELECTRICDEVICE,ELECTRICLINE,ELECTRICJUNCTION,STRUCTUREJUNCTION,STRUCTUREBOUNDARY,STRUCTURELINE,FIBER OPTIC"/>
    <add key="ValidateConfig" value="False"/>
  </appSettings>
</configuration>
